<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="pl">


<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8"/>
    <title>Planner</title>
    <meta name="description" content="Your site to plan your work"/>
    <meta name="keywords" content="Planner, plan, schedule, date, time"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>

<div id="container">

    <div id="logout">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>
    </div>

    <div id="logo">
        Planner
    </div>

    <div id="topbar">

        <div id="topbarL">
            <img height="140" width="140" th:src="@{images/meting.jpg}"
                 src="..static/images/meting.jpg"/>
        </div>


        <div id="topbarR">
            <span class="bigtitle">Description</span>
            <div style="height: 15px;"></div>
            Planner is application which should help you planning your own meetings.<br/>
            Possible actions are show on left sidebar. Enjoy :)
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="sidebar">
        <a href="/add" class="tilelink">
            <div class="optionL">Add meeting</div>
        </a>
        <a href="/meetingsAtDay" class="tilelink">
            <div class="optionL">Schedule</div>
        </a>

        <a href="/aboutApi" class="tilelink">
            <div class="optionL">About API</div>
        </a>

    </div>

    <div  id="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque gravida, risus non hendrerit pretium,
        nulla lectus blandit erat, sed eleifend risus tortor quis nunc. Curabitur mollis sapien lacus.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Sed volutpat, enim nec porttitor rutrum, mi dui lacinia sapien, id molestie augue risus vitae dolor.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Fusce suscipit ligula felis, nec sagittis mi condimentum a. Etiam aliquam nec enim vel efficitur.
        Maecenas ac sem non turpis malesuada congue. Suspendisse tristique mattis arcu vel interdum.
        Morbi vel felis accumsan, feugiat diam in, rutrum odio.



    </div>

    <div id="footer">

        Planner - your best site to plan your meetings. Create in 2020r. &copy; All rights reserved.
    </div>

</div>

</body>
</html>