<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="pl">


<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8"/>
    <title>Planner</title>
    <meta name="description" content="Your site to plan your work"/>
    <meta name="keywords" content="Planner, plan, schedule, date, time"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>

<div id="container">

    <div id="logout">
    </div>
    <div id="logo">
        Planner
    </div>

    <div id="topbar">

        <div id="topbarL">
            <img height="140" width="140" th:src="@{images/meting.jpg}"
                 src="..static/images/meting.jpg"/>
        </div>


        <div id="topbarR">
            <span class="bigtitle">Description</span>
            <div style="height: 15px;"></div>
            Hello! If you want use this app, please sign in.<br/>

        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="sidebar">

    </div>

    <div id="content">

        <div class="status">
            <td th:text="${activate}"></td>
        </div>
        <form th:action="@{/loginForm}" method="get">

            <input type="submit" value="Login Page"/>
        </form>

    </div>

    <div id="footer">

        Planner - your best site to plan your meetings. Create in 2020r. &copy; All rights reserved.
    </div>

</div>

</body>
</html>